<div class="page-title-area">
  <div class="body-inner">
    <h4>Privacy Policy</h4>
  </div>
</div>
<div id="page-area">
  <div class="page-wrapper">
    <h5 style="color: #555; font-size: 12px; text-align: center!important; margin-bottom: 25px!important;">Effective on 5 September 2014.</h5>
    <p style="font-size: 16px;color:#555; font-weight:600;">We will not share your data with anyone without your consent under ANY circumstance. If you aren’t convinced, feel free to read below if you like the legal stuff.</p>
    <p>This <b>Privacy Policy</b> governs the manner in which Maven News, Inc., Unit 6F, 8 48th Street New York, NY, 10017 (“<b>Us</b>”, or “<b>We</b>”, or “<b>Our</b>”) collects, uses, maintains and discloses information collected from users (each, a “<b>User</b>“) of the getmaven.io website (“<b>Site</b>“). This Privacy Policy applies to the Site and all products and services offered by Us.</p>
    <h4>1. What information do We collect?</h4>
    <p style="font-size: 16px; font-style: italic; color: #999; margin-top: 20px; margin-bottom:20px;">1.1 Non-personal identification information</p>
    <p>We may collect non-personal identification information about Users whenever they interact with Our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to the Site, such as the operating system and the Internet service providers utilized and other similar information.</p>
    <p style="font-size: 16px; font-style: italic; color: #999; margin-top: 20px; margin-bottom:20px;">1.2 We collect information from you when you fill out a form.</p>
    <p>When registering on the Site, as appropriate, you may be asked to enter your: email address. You may, however, visit the Site anonymously.</p>
    <p>We collects personal identification information from Users only if they voluntarily submit such information to Us. Users can always refuse to supply personally identification information, except that it may prevent them from engaging in certain Site related activities.</p>
    <p>We also collect information you provide through a social network. For example, some of Our services may allow you to provide information for a contest or award, or link an account through a social network. We work with social networks including, but not limited to Facebook, Twitter, and LinkedIn. We have access to information you directly provide and information through those social networking services based on your privacy settings on those networks.</p>
    <p style="font-size: 16px; font-style: italic; color: #999; margin-top: 20px; margin-bottom:20px;">1.3 Web browser cookies</p>
    <p>Our Site may use “cookies” to enhance User experience. User’s web browser places cookies on their hard drive for record-keeping purposes and sometimes to track information about them. User may choose to set their web browser to refuse cookies, or to alert you when cookies are being sent. If they do so, note that some parts of the Site may not function properly.</p>
    <p style="font-size: 16px; font-style: italic; color: #999; margin-top: 20px; margin-bottom:20px;">1.4 Web beacons</p>
    <p>The Site contain electronic images known as web beacons and are used along with cookies to compile aggregated statistics to analyze how the Site is used and may be used in some of Our emails to let Us know which emails and links have been opened by recipients. This allows Us to gauge the effectiveness of Our customer communications and marketing campaigns.</p>
    <p>Our Web pages may also contain electronic images known as web beacons that are set by Our third party partners. Web beacons are used along with cookies enabling Our partners to compile aggregated statistics to analyze how Our Site is used.</p>
    <p>We use a third party to gather information about how you and others use Our Site. For example, We will know how many users access a specific page and which links they clicked on. We use this aggregated information to understand and optimize how Our Site is used.</p>
    <h4>2. How We use collected information</h4>
    <p>We collect and use Users personal information for the following purposes:</p>
    <div style="padding-left: 10px;padding-bottom:20px;">
      <ul>
        <li><b>To improve customer service:</b> Your information helps Us to more effectively respond to your customer service requests and support needs.</li>
        <li><b>To personalize user experience:</b> We may use information in the aggregate to understand how Our Users as a group use the services and resources provided on Our Site.</li>
        <li><b>To improve Our Site:</b> We continually strive to improve Our website offerings based on the information and feedback We receive from you.</li>
        <li><b>To administer a content, promotion, survey or other Site feature.</b></li>
        <li><b>To send Users information they agreed to receive about topics We think will be of interest to them.</b></li>
        <li><b>To send periodic emails:</b> The email address you provide for order processing, will only be used to send you information and updates pertaining the launch of the Maven app and Our services.</li>
      </ul>
    </div>
    <p style="font-size: 16px;color:#555; font-weight:600;">Your information, whether public or private, will not be sold, exchanged, transferred, or given to any other company for any reason whatsoever, without your consent, other than as described in this Privacy Policy or for the purpose of delivering the service requested.</p>
    <p>The email address Users provide, will only be used to send information and updates pertaining Our services and the Maven app. It may also be used to respond to User’s inquiries, and/or other requests or questions. If User decides to opt-in to Our mailing list, they will receive emails that may include company news, updates, related product or service information, etc. If at any time the User would like to unsubscribe from receiving future emails, We include detailed unsubscribe instructions at the bottom of each email or User may contact us via Our Site.</p>
    <h4>3. How We protect your information</h4>
    <p>We adopt appropriate data collection, storage and processing practices and security measures to protect against unauthorized access, alteration, disclosure or destruction of your personal information, username, password, transaction information and data stored on Our Site.</p>
    <p>Sensitive and private data exchange between the Site and its Users happens over a SSL secured communication channel and is encrypted and protected with digital signatures.</p>
    <h4>4. Sharing your personal information</h4>
    <p>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with Our business partners, trusted affiliates and advertisers for the purposes outlined above. We may use third party service providers to help us operate Our business and the Site or administer activities on Our behalf, such as sending out newsletters or surveys. We may release your information when We believe release is appropriate to comply with the law, enforce Our site policies, or protect ours or others rights, property, or safety.</p>
    <h4>5. Third party websites</h4>
    <p>Our Site may include links to other websites whose privacy practices may differ from those of Us. If you submit personal information to any of those sites, your information is governed by their privacy statements. Browsing and interaction on any other website, including websites which have a link to the Site, is subject to that website’s own terms and policies.</p>
    <h4>6. Changes to this Privacy Policy</h4>
    <p>We have the discretion to update this Privacy Policy at any time. When We do, We revise the updated date at the bottom of this page. We encourage Users to frequently check this page for any changes to stay informed about how We are helping to protect the personal information We collect. You acknowledge and agree that it is your responsibility to review this Privacy Policy periodically and become aware of modifications.</p>
    <h4>7. Your acceptance of these terms</h4>
    <p>By using this Site, you signify your acceptance of this policy and <a href="<%= terms_path %>" title="Terms of Use">terms of use</a>. If you do not agree to this policy, please do not use Our Site. Your continued use of the Site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
    <h4>8. Terms of Use</h4>
    <p>Please also visit the <a href="<%= terms_path %>" title="Terms of Use">terms of use</a> section establishing the use, disclaimers, and limitations of liability governing the use of the Site.</p>
    <h4>9. Contacting us</h4>
    <p>If you have any questions about this Privacy Policy, the practices of this Site, or your dealings with this Site, please contact us via the details found below in the footer.</p>
  </div>
</div>
